
.tags
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/node_modules/
/versioned/
archive.json
cddl/cmw-autogen.cddl
cddl/comid-autogen.cddl
cddl/coserv-autogen.cddl
cddl/discovery-autogen.cddl
cddl/examples/discovery-single-capability.cbor
cddl/examples/rv-class-simple-results-source-artifacts.cbor
cddl/examples/rv-class-simple-results.cbor
cddl/examples/rv-class-simple.cbor
cddl/examples/rv-class-stateful.cbor
cddl/examples/rv-class-two-entries.cbor
cddl/examples/rv-instance-two-entries.cbor
cddl/examples/rv-results.cbor
cddl/examples/signed-rv-class-simple-results-source-artifacts.cbor
cddl/examples/signed-rv-class-simple-results-source-artifacts.diag
cddl/examples/signed-rv-class-simple-results.cbor
cddl/examples/signed-rv-class-simple-results.diag
cddl/examples/signed-rv-class-simple.cbor
cddl/examples/signed-rv-class-simple.diag
cddl/examples/signed-rv-class-stateful.cbor
cddl/examples/signed-rv-class-stateful.diag
cddl/examples/signed-rv-class-two-entries.cbor
cddl/examples/signed-rv-class-two-entries.diag
cddl/examples/signed-rv-instance-two-entries.cbor
cddl/examples/signed-rv-instance-two-entries.diag
cddl/examples/signed-rv-results.cbor
cddl/examples/signed-rv-results.diag
cddl/jwk-autogen.cddl
cddl/signed-coserv-autogen.cddl
cddl/signed-coserv-headers.cddl
draft-ietf-rats-coserv.xml
Gemfile.lock
package-lock.json
report.xml
!requirements.txt
